.hidden {
  display: none;
}
.quotesWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 16px;
  padding: 20px;
  gap: 16px;
}
.quote {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: beige;
}
.author {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: aqua;
}
#todo-list {
  background-color: aquamarine;
  height: 48px;
}
